<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer</title>
    <style>
        #cheerup{
            position: absolute;
            left: 5px;
            top: 5px;
            resize: both;
            height: 700px;
            width: 1000px;
        }
        #back{
            position: absolute;
            left: 1010px;
            top: 710px;
        }
    </style>
</head>
<body>
    <img src="{{url_for('static', filename='image/2.png')}}"id="cheerup">
    <a href="http://127.0.0.1:5000/" id="back">돌아가기</a>
</body>
</html>